[submodule "R-01"]
	path = R-01
	url = https://github.com/TatheerHussain/R-01.git
[submodule "R-02"]
	path = R-02
	url = https://github.com/TatheerHussain/R-02.git
[submodule "R-03"]
	path = R-03
	url = https://github.com/TatheerHussain/R-03.git
[submodule "R-04"]
	path = R-04
	url = https://github.com/TatheerHussain/R-04.git
[submodule "R-05"]
	path = R-05
	url = https://github.com/TatheerHussain/R-05.git
[submodule "R-06"]
	path = R-06
	url = https://github.com/TatheerHussain/R-06.git
[submodule "R-07"]
	path = R-07
	url = https://github.com/TatheerHussain/R-07.git
[submodule "R-08"]
	path = R-08
	url = https://github.com/TatheerHussain/R-08.git
[submodule "R-09"]
	path = R-09
	url = https://github.com/TatheerHussain/R-09.git
[submodule "R-10"]
	path = R-10
	url = https://github.com/TatheerHussain/R-10.git
[submodule "R-03"]
	path = R-03
	url = https://github.com/TatheerHussain/R-03.git
